    #root {
        text-align: center;
    }
    
    #intro-main {}
    
    h1 {
        color: black;
        text-align: center;
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    . html {
        box-sizing: border-box;
    }
    
    body {
        background-color: #98f5ff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        front-size: 2rem;
    }
    
    .format {
        border: 5px solid #008b8b;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 400px;
    }
    
    h2 {
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }