            * {
                margin: 0;
                padding: 0;
            }
            
            body {
                background-color: whitesmoke;
                font-family: 'Poppins', sans-serif;
            }
            
            .root {
                color: white;
                width: 100 % display: flex;
                flex-direction: colum;
            }
            
            .card {
                background-color: goldenrod;
                display: block;
                /* check other type of display and decide on the best*/
                margin: 40px auto;
                border-style: groove;
            }
            
            .mainHeading {
                font-size: 50px;
            }
            
            .nrOfEp {
                text-align: center;
                font-size: 20px;
                margin: 20px;
            }
            
            .imageDiv {
                width: 35%;
            }
            
            .textDiv {
                width: 65%;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
            }
            
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .episodeInfo {
                color: yellow;
                font-size: 18px;
                margin: 10px 50px 20px 0;
            }
            
            #runtime {
                font-size: 15px;
            }
            
            .info {
                display: flex;
                align-items: baseline;
            }
            
            .episodeName {
                font-size: 23px;
                margin: 20px 0 0 0;
                text-shadow: 1px 1px 1px white;
            }
            
            .description {
                font-size: 18px;
                margin: 20px 20px 20px 0;
                text-align: justify;
            }
            
            footer {
                background-color: #2C2C2C;
                color: white;
                margin: 0;
                padding: 50px;
                text-align: center;
                font-size: 15px;
            }
            
            a {
                margin: 0 20px 20px auto;
            }
            
            .button {
                border: 1px solid yellow;
                background-color: #2C2C2C;
                box-shadow: 1px 1px 1px yellow;
                color: yellow;
                padding: 10px 15px;
                font-size: 16px;
                cursor: pointer;
            }
            
            .button:hover {
                color: black;
                background-color: yellow;
            }
            
            .searchInput {
                align-items: center;
                margin: 20px auto;
                padding: 10px;
                background-color: #2C2C2C;
                color: yellow
            }